@import url("https://fonts.coollabs.io/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #006266;
}

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}
